<div style="background-color: #eff3f8; padding: 20px; background-size: cover; width: 100%;height: 100%;overflow: auto;">
    <div style="max-width: 600px; margin:auto;">
      <p-card
       
        [style]="{ width: '100%', height: 'auto', padding: '1rem' }"
        class="shadow-8"
      >
      <!-- header="User Management" -->
        <ng-template pTemplate="header">
          <div class="text-center mb-3">
            <!-- <h3 class="text-900 text-3xl font-medium mb-3" style="color: black;">User Managementk</h3> -->
          <h3 class="text-primary text-3xl font-bold">User Management</h3>
                <span class="text-600 font-medium line-height-3">Manage users and assign permissions</span>
         
         <!--     <p class="text-muted font-medium">Manage users and assign permissions</p> -->
          </div>
        </ng-template>
  

        
          <div class="grid">
          <div class="field mb-3 col-6">
            <label for="userName" class="block text-900 font-medium mb-2">User Name:</label>
            <input
              id="userName"
              type="text"
              pInputText
              [(ngModel)]="payload.userName"
              placeholder="Enter your username"
              class="p-inputtext-lg"
            />
          </div>
  
          <div class="field mb-3 col-6">
            <!-- <label for="password" class="block text-900 font-medium mb-2">Password</label> -->
            <label for="password" class="block text-900 font-medium mb-2">Password:</label>
            <input
              id="password"
              type="password"
              pInputText
              [(ngModel)]="payload.password"
              placeholder="Enter your password"
              class="p-inputtext-lg"
            />
          </div>
          <div class="field mb-3 col-6">
            <!-- <label for="password" class="block text-900 font-medium mb-2">Password</label> -->
            <label for="password" class="block text-900 font-medium mb-2">Display Name:</label>
            <input
              id="password"
              type="password"
              pInputText
              [(ngModel)]="payload.dispalyName"
              placeholder="Enter your displayname"
              class="p-inputtext-lg"
            />
          </div>
        
          <div class="field mb-3 col-6">
            <!-- <label for="email" class="block text-900 font-medium mb-2">Email</label> -->
            <label for="email" class="block text-900 font-medium mb-2">Email:</label>
            <input
              id="email"
              type="email"
              pInputText
              [(ngModel)]="payload.email"
              placeholder="Enter your email"
              class="p-inputtext-lg"
            />
          </div>
        </div>
        <div class="field-checkbox">
          <p-checkbox name="features" value="Update Task" inputId="isActive"></p-checkbox>
          <label for="feature4">Isactive</label>
        </div>
        <div class="flex d-flex ">
       
          <div class="col  ">
            <h3 class="text-primary mt-3">Features</h3> 
          <div class="field-checkbox ">
            <p-checkbox name="features" value="Add Task" inputId="feature1"></p-checkbox>
            <label for="feature1">Add </label>
          </div>
          <div class="field-checkbox">
            <p-checkbox name="features" value="Edit Task" inputId="feature2"></p-checkbox>
            <label for="feature2">Edit </label>
          </div>
       
          <div class="field-checkbox">
            <p-checkbox name="features" value="Update Task" inputId="feature4"></p-checkbox>
            <label for="feature4">Update</label>
          </div>
          <div class="field-checkbox">
            <p-checkbox name="features" value="Create Discussion" inputId="feature3"></p-checkbox>
            <label for="feature3">CreateDiscussion</label>
          </div>
        </div>
        <!-- style="margin-left: 13rem;" -->
        <div class="col  " >
          <h3 class="text-primary mt-3">Products</h3>
          <div class="field-checkbox ">
            <p-checkbox name="products" value="Product 1" inputId="product1"></p-checkbox>
            <label for="product1">Product 1</label>
          </div>
          <div class="field-checkbox">
            <p-checkbox name="products" value="Product 2" inputId="product2"></p-checkbox>
            <label for="product2">Product 2</label>
          </div>
          <div class="field-checkbox">
            <p-checkbox name="products" value="Product 3" inputId="product3"></p-checkbox>
            <label for="product3">Product 3</label>
          </div>
          <div class="field-checkbox">
            <p-checkbox name="products" value="Product 3" inputId="product4"></p-checkbox>
            <label for="product3">Product 4</label>
          </div>
        </div>
         
        </div>
        <div class="mt-3 flex justify-content-center flex-wrap">
          <p-button label="Submit" (onClick)="submit()" class=" p-button-rounded p-button-primary"></p-button>
        </div>
    

      </p-card>
    </div>
  </div>
  