<p-table *ngIf="uiState==2"
  [value]="task"
  styleClass="p-datatable-gridlines"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th>SNo</th>
      <th>subject</th>
      <th>HostName</th>
      <th>Agenda</th>
      <th>Transcript</th>
      <th>DiscussionDate</th>
      <th>Comments</th>
      <th>File</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-task let-rowIndex="rowIndex">
    <tr>
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ task.taskName }}</td>
      <td>{{ task.hostName }}</td>
      <td>{{ task.agenda }}</td>
      <td>{{ task.transcript }}</td>
      <td>{{ task.discussionDate }}</td>
      <td>{{ task.subject }}</td>
      <td>{{ task.comments }}</td>
    </tr>
  </ng-template>
</p-table>
<div *ngIf="uiState==3">
  <p style="background-color: rgb(237, 42, 42);height: 20px; color: white; border-radius: 5px;"><span class="ml-3">No Data Found !</span> </p>
</div>

<div *ngIf="uiState == 4" class="overlay">
  <div class="spinner-container">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
  </div>
</div>

 
